/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1a56db;
$--color-success: #10b981;
$--color-warning: #f59e0b;
$--color-danger:  #ef4444;

$--button-font-weight: 500;

$--color-text-primary:   #111827;
$--color-text-regular:   #374151;
$--color-text-secondary: #6b7280;

$--border-color-base:    #e5e7eb;
$--border-color-light:   #e5e7eb;
$--border-color-lighter: #f3f4f6;

$--border-radius-base:   6px;
$--border-radius-small:  4px;

$--table-border: 1px solid #e5e7eb;

$--input-background-color: #fafafe;
$--input-border-color:     #e5e7eb;
$--input-focus-border:     #1a56db;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
