// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#c8d8f8;
$menuActiveText:#ffffff;
$subMenuActiveText:#ffffff;

$menuBg:#1a4ad4;
$menuHover:#2558e8;
$sidebarTitle: #ffffff;

$menuLightBg:#eef2fb;
$menuLightHover:#dde6f8;
$sidebarLightTitle: #1a4ad4;

$subMenuBg:#1235b0;
$subMenuHover:#1a45c8;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuLightBg: $menuLightBg;
  menuLightHover: $menuLightHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sidebarTitle: $sidebarTitle;
  sidebarLightTitle: $sidebarLightTitle
}
